.ads {
	border: 1px solid #dddddd;
	height: 260px;
	width: 280px;
	padding: 0px 5px;
	color: #777777;
	box-shadow: 0px 2px #bbbbbb;
	background: white;
}
.ads .promoted {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}
.ads .promoted span{
	margin-top: 17px;
}
.ad {
	display: flex;
	margin: 10px 0px;
}
.ad .logo img {
	width: 50px;
	margin-right: 5px;
}


.ad .description {
	font-size: 12px;
	text-align: left;
}

.ad .description:hover {
	color: #45A9EA;
}

.ad .arrow {
	margin: 17px 0px 0px 10px;
}