.links {
	display: flex;
	justify-content: center;
}
.links .link {
	color: white;
	padding: 7px 15px 0px 15px;
	font-size: 11px;
}

.links .link:hover {
	color: #45A9EA;;
}

.links .icon {
	font-size: 17px;
}

.links .premium {
	color: gold;
	padding-top: 2px;
}