.connections {
	border: 1px solid #dddddd;
	width:218px;
  height: 500px;
	border-radius: 3px;
  color: #777777;
  box-shadow: 0px 2px #bbbbbb;
  background: white;
}

.connections .total-connections {
	font-size: 30px;
	color: #45A9EA;
	margin-top: 20px;
}

.connections span {
	color: #45A9EA;
}

.connections .preview-connections {

}

/*crap any size and shap image into square*/
.preview-connections .frame {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin-left: -10px;
}
.preview-connections .frame .crop {
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  border: 1px solid gray;
 }
.preview-connections .frame .crop img {
 	width: 50px;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
 }
/*crap any size and shap image into square*/

.connections input {
  width: 180px;
  padding: 5px;
  border: 2px solid #dddddd;
}

.connections .continue {
	width: 180px;
  border: 2px solid #45A9EA;
  margin: 5px auto;
  padding: 5px;
  color: #45A9EA;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
}

.lineAccross{
	border-top: 1px solid #dddddd;

}

.connections .message {
  font-size: 13px;
  padding: 10px;
}





