
.nav-parent {
	height: 42px;
}

.navbar {
	display: flex;
	text-align: center;
	background: #305c60;
	justify-content: space-around;
	width:1100px;
	position: fixed;
	left:50%;
	margin-left: -550px;
}
