.site-map {
	width: 280px;
	border-top: 1px solid #dddddd;
	margin-top: 20px;
	padding-top: 20px;
	font-size: 12px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	color: #777777;
	justify-content: center;
}

.site-map .site-link {
	padding:5px 10px;
}

.site-map .site-link:hover {
	color: #45A9EA;
}

.site-map .corporation {
	margin-top: 10px;
}